import pandas_ta as ta
import numpy as np
from mptradelib.backtest import Backtest

def cross(ema1, ema2):
    return (ema1 > ema2) & (ema1.shift(1) < ema2.shift(1))

def compute(df, params):
    df['ema_fast'] = ta.ema(df.close, params['fast_ema_len'])
    df['ema_slow'] = ta.ema(df.close, params['slow_ema_len'])
    df['ema_trend'] = ta.ema(df.close, params['trend_filter_ema_len'])

    long_cond = (cross(df.ema_fast, df.ema_slow)) & (df.close > df.ema_trend)
    short_cond = (cross(df.ema_slow, df.ema_fast)) & (df.close < df.ema_trend)

    df['long'] = np.where(long_cond, 1, 0)
    df['long_entries'] = np.where((df.long == 1) & (df.long.shift(1) != 1), 1, 0)

    df['short'] = np.where(short_cond, -1, 0)
    df['short_entries'] = np.where((df.short == -1) & (df.short.shift(1) != -1), -1, 0)

    df['entries'] = df.long_entries + df.short_entries
    return df

b = Backtest(df, compute, sl=1, tp=2, intraday=False)

results = []

# r = b.optimize(
#     runs=2,
#     ema_fast_len=range(1, 20),
#     ema_slow_len=range(20, 50),
#     ema_trend_filter_len=range(100, 300),
#     sl=range(1),
#     tp=range(1, 10),
# )

out = b.run(**{k: int(v) for k, v in r[0].items()})